

<div class="row">
  <div class="col-md-12">
    <h3 ng-if="fdItems.foundItems">Total Item found : {{fdItems.foundItems.length}}</h3>
  </div>
  <div class="col-md-12">
    <table class="table table-striped">
      <tr ng-repeat="item in fdItems.foundItems ">
        <td>{{item.id}}</td>
        <td>{{item.short_name}}</td>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.price_small}}</td>
        <td>{{item.price_large}}</td>
        <td>{{item.small_portion_name}}</td>
        <td>{{item.large_portion_name}}</td>
        <td>
            <button class="btn btn-default" ng-click="fdItems.onRemove({index: $index});"><span class="glyphicon glyphicon-remove"></span></button>
        </td>
      </tr>
    </table>
  </div>
</div>
